<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
  <input v-on:keyup.enter="addNewNote" v-model="noteToAdd"></input>
  <button @click="addNewNote">Add</button>
  <div v-for="note in notes">
    <div v-if="noteToEdit.id == note.id">
      <input v-on:keyup.enter="doneEdit" v-model="noteToEdit.text">
      <button @click="doneEdit">Done</button>
    </div>
    <div v-else>
      {{note.text}}
      <button @click="editNote(note)">Edit</button>
    </div>
  </div>
</div>

<script>
  const { createApp, ref } = Vue


  createApp({
    setup() {
      // variables
      const noteToAdd = ref('')
      const noteToEdit = ref({ id: -1, text: "" })
      const notes = ref([{ id: 1, text: "hello" }])

      // methods
      function editNote(note) { noteToEdit.value = note }
      function doneEdit() {
        for (let i = 0; i < notes.value.length; i++) {
          if (notes.value[i].id != noteToEdit.value.id) { continue }

          notes.value[i] = noteToEdit.value
          noteToEdit.value = { id: -1, text: "" }
          break
        }
      }
      function addNewNote() {
        if (noteToAdd.value == "") { return }
        notes.value.push({ id: notes.value.length + 1, text: noteToAdd.value })
        noteToAdd.value = ""
      }

      return {
        noteToAdd,
        notes,
        noteToEdit,
        addNewNote,
        editNote,
        doneEdit
      }
    }
  }).mount('#app')
</script>